/* colores principales */
:root {
    --color-primario: #4CAF50; /* Verde */
    --color-secundario: #FFC107; /* Ámbar */
    --color-texto: #333;
    --color-blanco: #fff;
    --color-fondo: #f8f9fa; /* Fondo general */
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* estilos.css  index */
body {
    background: var(#f8f9fa);
    color: var(--color-blanco);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.cabecera{
    background: #4CAF50;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}

.cabecera2{
    height: 100%;
    background: #4CAF50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logocabecera{
    display: grid;
    margin: 0px;

}

h1{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
   }
    
.menu{
    display: grid;   
}

.menu a{
    text-decoration: none;
}

.menu ul{
    display: inline;
}

.logocabecera2{
    display: grid;
    margin: 0px;
    justify-self: end;
}


.menu ul li{
    list-style-type: none;
    display: inline;
}

nav ul li a:hover{
    
}

.licontacto{
   
}

/* estilos.css  productos */



/* estilos.css  sobre */




/* estilos.css  contacto */