/* colores principales */
:root {
    --color-primario: #4CAF50; 
    --color-secundario: #FFC107; 
    --color-texto: #333;
    --color-blanco: #fff;
    --color-fondo: #f8f9fa; 
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Estilos generales */
body {
    background: #fff;
    color: #333;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    gap: 8px;
    margin: 16px;
}

body.elindex, body.elproducto{
    background-image: linear-gradient(to top, #4CAF50, #fff, #FFC107);
}

body.elsobre, body.elcontacto{
    background-image: url("imagenes/bandera.png");
    background-size: 100%;
}

 /* -------------------------------------------------------------Estilos de la cabecera */   

.cabecera1{
    background-color: #FFC107;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-bottom: 0px;
    padding: 0px;   
    height: 250px;  
    justify-content: space-between; /* Distribuye los elementos entre los extremos */
    align-items: center; /* Alinea los elementos verticalmente */
    border-radius: 50px; 
    box-shadow: 0 4px 8px #333;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); 
    width: 100%;
}
.logocabecera{
    grid-column: 1;
    justify-self: start;
}

.cabecera1 .logocabecera img, 
.cabecera1 .logocabecera2 img{
    margin: 0px;
    padding: 0px;
    width: 250px;
    height: 250px;
    border-radius: 50px;
}

.logocabecera img,
.logocabecera2 img {
    transition: 0.3s ease-in-out;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logocabecera img:hover,
.logocabecera2 img:hover,
.mainindex img:hover {
    transform: rotate(10deg);
}

.cabcentral2{
    grid-column: 2; 
    text-align: center;
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; 
    justify-content: space-between; 
    gap: 10px; /* Reduce el espaciado entre los elementos */
    padding: 10px;
    height: auto;
    overflow: hidden;
}

h1.titulo1{
    font-size: 44px;
    font-weight: bold;
    margin: 10px 0;  
    padding: 0px;
   }

.subtitulo1{
    font-weight: bold;
    margin: 0;
    padding: 5px;
    font-size: 22px;

}
    
.menu1{
    display: inline;
    margin: 5px 0 0 0;
    padding: 10px;
    gap: 30px;
    margin-bottom: 10px;
}

.menu1 ul{
    width: 100%;
    align-items: center; /* Alinea los elementos verticalmente */
    margin: 0px;
    padding: 0px; 
}

.menu1 ul li{
    display: inline;
    list-style-type: none;
    margin: 0 50px;
}

.menu1 button{
    background-color: #4CAF50 ;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 15px;
    transition: 'background' 0.3s;
    box-shadow: 0 4px 8px #333; 
    height: 48px;
}

.menu1 button a{
    text-decoration: none;
    color: #fff;  
    font-weight: bold;
}

button:hover {
    background-color: #FFC107;
}

.logocabecera2{
    grid-column: 3;
    justify-self: end;
    align-self: start;
}


/* ---------------------------------------------------------------estilos.css  mainindex */
/* -------------------------------------------------------------- Estilos del contenedor principal */
.mainindex{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    justify-self: center; 
    align-self: center; 
    align-items: center;
    gap: 20px; 
    padding: 20px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.sec0{
    grid-column: 1; 
    grid-row: 1; 
    margin: 0px;
}

.sec0 h1{
    font-size: 25px;
    margin-top :-75px;  
    padding: 5px;
}

.sec0 h1, .sec0 p, .sec1 h2, .sec1 p, .sec2 h2, .sec2 p{
    font-weight: bold;
}

.sec0 p{
    margin-bottom: 100;
    padding: 10px;
}

.mainindex img{
    border-radius: 50px; 
    box-shadow: 0 4px 8px #333;
    margin-top: 30px;
    transition: transform 0.3s ease-in-out;
}

.sec1{
    grid-column: 2; 
    grid-row: 1; 
    margin: 0px;
    padding: 10px;
    margin-right: 100px;
    margin-top: -100px;
}


.sec1 h2{
    font-size: 25px;
    margin: 20px 0;  
    padding: 5px;
}

.sec1 p{
    margin: 0;
    padding: 10px;
    text-align: left;
    line-height: 1.8;
}

.sec2{
    color: #333;
    grid-column: 1 / 3; 
    grid-row: 2; 
    margin-left: 0px; 
    margin-top: -50px;
    padding: 10px;
    gap: 10px;
    background: #FFC107;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sec2 h2{
    margin: 20px 0;  
    padding: 5px;
}

.sec2 p{
    margin: 0;
    padding: 0px;
    line-height: 1.8;
}

.sec2 ul li{
    display: inline;
    list-style-type: none;
}

.sec2 ul{
    margin-top: 100px;
}

.sec2 img{
    width: 180px;
    height: 180px;
    margin: 0 50px;
}

.sec2 img, .wats img, .flecha img{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sec2 img:hover, .wats img:hover, .flecha img:hover{
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wats{
    bottom: 100px;
    right: 20px; 
}

.wats, .flecha{
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    position: fixed; 
}

.flecha{
    bottom: 20px; 
    right: 20px;
}

.flecha img{
    width: 50px;
    height: 50px;
}



/* --------------------------------------------------------------------------estilos.css  footer */

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto; 
    background: #4CAF50;
    color: #333;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.pie1{
    grid-row: 1; 
    grid-column: 1; 
    align-items: center; 
 }

 .pie1, .pie1 h3, .pie1 a img:hover, .maps img:hover, .pie2, .pie2 ul li, .pie2 li a:hover, 
 .pie3, .pie4, .pie4 ul li, .pie4 ul li a:hover, .copy, .telefono, .horario, .email, .direccion{
    padding: 10px;

}

 .pie1, .pie3 h4, .direccion h4 a, .pie2 ul, .pie4 ul {
    font-weight: bold;
 }

.pie1 img{
    width: 100px;
    height: 100px;
    padding: 0px;
    padding: 0px;
    transition: transform 0.3s ease-in-out;
}

.pie1 img, .pie2 ul li a, .pie4 ul li a{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pie1 img:hover{
    transform: rotate(10deg);

}

.pie1 h3{ 
    margin-top:10px;
    margin-bottom: 30px;
}

.pie1 p{
    padding: 5px;
}

.pie1 a img{
    width: 35px;    
    height: 35px;
}

.pie1 a img:hover, .maps img:hover{
    color: #FFC107; 
}

.pie1 a img:hover, .pie2 li a:hover, .maps img:hover, .pie4 ul li a:hover {
    border-radius: 5px; 
    border: 1px solid #333;
}

.pie1 a img:hover, .pie2 ul li a, .maps img:hover, .direccion h4 a, .pie4 ul li a {
    background: #FFC107;  
}

.pie2{
    grid-row: 1; 
    grid-column: 2; 
}

.pie2 ul, .pie4 ul{
    list-style-type: none; 
    height: 100%; 
    margin-top: 10px;
}

.pie2 ul li{
    margin: 0px; 
}

.pie2 ul li a, .pie4 ul li a{
    padding: 7px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 8px #333; 

}

.pie2 li a:hover, .pie4 ul li a:hover{
    background: #4CAF50; 
    color: #333; 
}


.pie3{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    grid-row: 1; 
    grid-column: 3; 
    color: #333;
}

.maps{
    margin: 10px;
}

.maps img{
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0px;
}

.direccion h4 a{
    display: inline-block; 
    margin-top: 40px;
}

.direccion img{
    width: 35px;    
    height: 35px;
    margin-top: 0px;
}
    

.pie4{
    grid-row: 1; 
    grid-column: 4; 
    height: 100%; 
}

.pie4 ul li a{
    padding: 7px;
}

.copy{
    grid-column: 2 / 4 ; 
    grid-row: 2; 
    justify-self: center; 
    align-self: center; 
    margin-top: 20px;
}




/* ------------------------------------------------------------Estilos de la sección "Productos" */

.productos{
    background-color: #FFC107;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
}

.productos h2{
    margin-bottom: 50px;
    padding-bottom: 25px;
}

.producto {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 250px;
    height: 500px;
    display: inline-block;
    margin: 10px;

}
.producto img {
    width: 100%;
    border-radius: 10px;
}
.producto button {
    background-color: #4CAF50;
    color: #fff;
    padding: 24px;
    border: none;
    cursor: pointer;
    font-size: 18;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.producto button a{
    text-decoration: none;
    font-weight: bold;
    color: #333;
    font-size: 18px;
    height: 50px;
}

.producto button:hover{
    background: #FFC107;
    transition: 0.3s ease-in-out;
}




/* -------------------------------------------Estilos de la sección "Sobre nosotros" */

.sobrenos{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto auto auto; 
    justify-items: center; 
    align-items: center; 
    margin-top: 100px;
    gap: 20px; 
    height: auto;
    line-height: 1.8;
    text-align: justify;
}

.sobrenos .sob{
    grid-column: 1 / 3;
    grid-row: 1;   
    margin-right: 15%;
    margin-left: 15%;
    background:#FFC107;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sobrenos .sob, .sobrenos .sob2, .sobrenos .sob3, .sobrenos .sob4, .sobrenos .sob5, .sobrenos .sob6, .sobrenos .sob7{
    padding: 50px;

}

.sobrenos .sob h1, .sobrenos .sob1 h2, .sobrenos .sob2 h2, .sobrenos .sob3 h2, .sobrenos .sob4 h2
, .sobrenos .sob5 h2, .sobrenos .sob6 h2, .sobrenos .sob7 h2{
    font-size: 30px;
    padding: 15px;
    text-align: center;
}

.sobrenos .sob1 img{
    width: 60%;
    height: 60%;
    grid-column: 1;
    grid-row: 2;
    margin-left: 20%;
}

.sobrenos .sob1 img, .sobrenos .sob2, .sobrenos .sob3,.sobrenos .sob4, .sobrenos .sob5,
.sobrenos .sob6, .sobrenos .sob7{ 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sobrenos .sob2{
    grid-column: 2;
    grid-row: 2;
    margin-right: 25%;
}

.sobrenos .sob2, .sobrenos .sob3,.sobrenos .sob5 {
    background-color: #4CAF50;

}

.sobrenos .sob2 h2{
    padding: 10px;
}

.sobrenos .sob3{
    grid-column: 1;
    grid-row: 3;
    margin: 100px;
}

.sobrenos .sob4{
    grid-column: 2;
    grid-row: 3;
    margin: 100px;
}

.sobrenos .sob4, .sobrenos .sob6, .sobrenos .sob7{
    background-color: #FFC107;

}

.sobrenos .sob5{
    grid-column: 1;
    grid-row: 4;
    margin: 100px;
}

.sobrenos .sob6{
    grid-column: 2;
    grid-row: 4;
    margin: 100px;
    text-align: justify;
}

.sobrenos .sob7{
    grid-column: 1 / 3;
    grid-row: 5;
    margin: 100px;
}

.sobrenos .sob7 p:last-of-type{
    text-align: center;
    font-weight: bold;
    padding: 25px;
}







/* Estilos de la sección "Contacto" */

.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    line-height: 1.8;
}

.cont1 img{
    grid-column: 1;
    grid-row: 1;
    width: 550px; 
    height: 550px;
    border-radius: 50px; 
    box-shadow: 0 4px 8px #333;
}

.cont2{
    grid-column: 2;
    grid-row: 1;
    text-align: justify;
    background-color: #FFC107;
    margin: 10%;
    padding: 50px;
}

.cont2, .cont3{
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.cont2 h1, .cont2 h2{
    margin-bottom: 25px;
    text-align: center;
}

.cont2 h2{
    margin-top: 75px;
}

.cont3{
    grid-column: 1 / 3;
    grid-row: 2;
    font-weight: bold;
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 100px;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus, textarea:focus {
    border-color: #FFC107;
    box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
    outline: none;
}

.cont3 button {
    width: 100%;
    background-color: #4CAF50 ;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    transition: 'background' 0.3s;
    height: 48px;
}

/* Politicas */

#aviso, #politica, #cookies{
    margin-left: 20%;
    margin-right: 20%;
    text-align: left;
}

#aviso h2, #aviso h1, #politica h2, #politica h1, #cookies h2, #cookies h1{
    margin: 100px;
    text-align: center;
}

#aviso p, #politica p, #cookies p{
    padding: 0px;
    text-align: left;
    line-height: 1.8;
}

#aviso ul, #politica ul, #cookies ul{
    margin: 20px;
    padding: 0px;
    text-align: left;
    line-height: 1.8;
    list-style: none;
} 

#aviso a, #politica a, #cookies a{
    text-decoration: none;
    background: #4CAF50;
    font-weight: bold;
    margin: 3px;
    color: #333;
}

#aviso a:hover, #politica a:hover, #cookies a:hover{
    color: #FFC107;
    font-weight: bold;
    padding: 3px;
}

    

